.disclaimer
  margin-top: 2em

  &__text
    +paragraph-chivo-small
    color: $brand-white
    margin-bottom: 1em

  &__logos
    display: flex
    align-items: center
    justify-content: space-between

    a
      flex-shrink: 1

      & + a
        margin-left: 20px

    img
      display: block
      width: 100%
      max-width: 140px