// TODO: Carousel responsiveness
// TODO: Carousel responsiveness (active items)
// TODO: Next/prev on click

.page-intro
  padding: 50px 0 64px
  background: #667991

.page-intro__text
  +wrapper
  color: $brand-white

  h2
    +heading-2

  p
    +paragraph-chivo-large
    margin-top: em(30px, 20px)

.page-intro__carousel
  margin-top: 48px

  .card
    outline: none

  // .owl-item,
  // .owl-item.active + .owl-item.active + .owl-item.active + .owl-item.active
  //   opacity: .33
  //
  // .owl-item.active
  //   opacity: 1