.page-intro
  padding: 50px 0 64px
  background: #667991

.page-intro__text
  +wrapper
  color: $brand-white

  h2
    +heading-2

  p
    +paragraph-chivo-large
    margin-top: em(30px, 20px)

.page-intro__carousel
  margin-top: 48px

  &__item
    display: flex
    justify-content: space-between

    .card + .card
      margin-left: 32px

  .card
    outline: none

  // Onderzoeksprojecten
  .owl-item .card--thumbnail
    opacity: .33

  .owl-item:hover .card--thumbnail
    opacity: .66

  .owl-item.center .card--thumbnail
    opacity: 1

  // Resources
  @media (max-width: 1889px)

    .owl-item .card--default:not(.card--thumbnail)
      opacity: .33
      transition: opacity .15s ease

    .owl-item:hover .card--default:not(.card--thumbnail)
      opacity: .66

    .owl-item.active

      .card--default:not(.card--thumbnail)
        opacity: 1

    .owl-item.active + .owl-item.active + .owl-item.active + .owl-item.active

      .card--default:not(.card--thumbnail)
        opacity: .33

      &:hover .card--default:not(.card--thumbnail)
        opacity: .66