.project-filter
  margin-top: 48px
  border-bottom: 1px dotted $brand-light-blue

.project-filter__heading
  +heading-4

.project-filter__button-holder
  margin-top: 24px
  width: 100%
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-column-gap: 23px
  grid-row-gap: 23px

.project-filter__information
  margin-top: 48px
  margin-bottom: 48px

  p
    +paragraph-chivo-medium

  a
    +paragraph-chivo-small
    margin-top: 24px
    display: inline-block
    color: #667991
    border-bottom: 1px solid currentcolor

    &:hover
      color: $brand-dark-blue

    &::after
      position: relative
      top: 4px
      right: -4px
      font-family: $genericons
      font-size: 18px
      content: ''

.project-filter__button
  +theme-button
  position: relative

.project-filter__select-holder
  margin-top: 16px
  display: flex

@media (max-width: $media-tablet-portrait)

  .project-filter__button-holder
    grid-template-columns: repeat(1, 1fr)
    grid-row-gap: 8px