.profile-overview
  width: 100%

.profile-overview__heading
  +heading-2

.profile-overview__category
  margin-top: 52px

  & + .profile-overview__category
    margin-top: 64px

.profile-overview__category__heading
  +heading-4
  padding-bottom: 16px
  border-bottom: 1px dotted $brand-light-blue

.profile-overview__category__grid
  display: flex
  flex-wrap: wrap

  .profile-button
    margin-top: 32px
    margin-left: 32px
    width: calc((100% - 32px * 3) / 4)

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4)
      margin-top: 24px

    &:nth-child(4n-3)
      margin-left: 0