@mixin general-list-styling
  +remove-list-styles
  +paragraph-medium

  li,
  > div
    position: relative
    padding-left: 28px

    &::before
      position: absolute
      top: 0
      left: 0
      content: '•'

.text-holder
  color: $brand-dark-blue

  h1
    +heading-3
    font-family: $asul

  h1:first-child,
  .meta:first-child + h1
    +heading-2

  h2
    +heading-3

  h3
    +heading-4

  h4
    +heading-5

  h5
    +heading-6

    & + ul
      margin-top: 16px

  h6
    +heading-6

  p
    +paragraph-medium

    strong
      +heading-5
      line-height: unitless(32px, 24px)

    a
      text-decoration: underline

      &:hover
        text-decoration: none

    &.meta
      +tag
      color: $brand-light-blue-alternative

      & + *
        margin-top: 16px

  ul
    +general-list-styling

  hr
    margin-bottom: 17px
    border: 0
    border-bottom: 1px dotted $brand-light-blue

  > * + *
    margin-top: 48px

  > * + hr
    margin-top: 26px

  p + p,
  p + ul,
  ul + ul,
  ul + p
    margin-top: em(27px, 18px)

  table
    +paragraph-chivo-medium
    border-collapse: collapse
    background: $brand-light-blue

    @media (max-width: $media-phone)
      font-size: 14px

    strong
      +heading-5
      line-height: unitless(32px, 24px)

    tr
      &:first-child

        td
          padding-top: 24px

      &:last-child

        td
          padding-bottom: 24px

    td
      padding-top: 12px
      padding-bottom: 12px
      vertical-align: top
      padding-left: 24px

      &:last-child
        padding-right: 24px

@media (max-width: $media-phone)

  .text-holder

    > * + *
      margin-top: 32px