$z-index-above-content: 200
$z-index-content: 100
$z-index-below-content: 0

$brand-white: #FFF
$brand-grey: #EFEFEF
$brand-black: #000

$brand-dark-blue: #002048
$brand-light-blue: #CED8DA
$brand-light-blue-alternative: #9AA9B5

$brand-yellow: #FFD54F
$brand-orange: #DF6857
$brand-blue: #4CADD3
$brand-green: #4CA55D
$brand-purple: #5B67C6
$brand-brown: #A5894C

$media-tablet: 1024px
$media-tablet-portrait: 1023px
$media-phone: 767px